.img-logo {
    width: 40px;
    height: 40px;
}
.contact-input {
    color: #3490dc;
    text-decoration: none;
    background-color: transparent;
}
.opp-date {
    font-size: 12px;
    margin-top: 4px;
}

.opp-card {
    margin-bottom: 5px;
}

.btn-interest {
    color: #3490dc !important;
    text-decoration: none !important;
    background-color: transparent;
    cursor: pointer;
    float: left;
}

.btn-disinterest {
    color: #3490dc !important;
    font-weight: bold;
    text-decoration: none !important;
    background-color: transparent;
    cursor: pointer;
    float: left;
    margin-left: 0px !important;
}

.modal-interested-users-body {
    height: 300px;
    overflow-y: auto;
}

